{% extends 'security_layout.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="login-right">
        <div class="login-right-wrap">
            <h1>Connexion</h1>

            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <p class="account-subtitle">
                    {% trans %}You are logged in as{% endtrans %} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </p>
            {% endif %}

            <!-- Form -->
            <form method="post">
                <div class="form-group">
                    <input type="text" name="username" id="inputUsername" class="form-control floating" value="{{ last_username }}" required autofocus placeholder="Nom utilisateur">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="inputPassword" class="form-control floating" required placeholder="Mot de passe">
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="text-right forgotpass mb-3"><a href="#">Mot de passe oublié</a></div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Se connecter</button>
                </div>
            </form>

            <div class="text-center dont-have">Avez-vous un compte ? <a href="{{ absolute_url(path('app_register') )}}">Créer un compte</a></div>
        </div>
    </div>

{% endblock %}
