{% extends 'base.html.twig' %}

{% block title %}CompositionTest{% endblock %}

{% block body %}
    <h1>CompositionTest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ composition_test.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ composition_test.date }}</td>
            </tr>
            <tr>
                <th>Ordre</th>
                <td>{{ composition_test.ordre }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ composition_test.resultat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('composition_test_index') }}">back to list</a>

    <a href="{{ path('composition_test_edit', {'id': composition_test.id}) }}">edit</a>

    {{ include('composition_test/_delete_form.html.twig') }}
{% endblock %}
