{% extends 'inscription_backend_layout.html.twig' %}

{% block title %}{{ parent()}} Gestion des inscrits{% endblock %}

{% block body %}
    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="page-title">Gestion des inscrits</h3>
                    </div>
                    {% for message in app.flashes('success') %}
                        <div class="col-12">
                            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi mdi-checkbox-marked-circle font-32"></i><strong class="pr-1">Success !</strong> {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('error') %}
                        <div class="col-12">
                            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi mdi-close-circle font-32"></i><strong class="pr-1">Erreur !</strong>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="profile-header">
                        <div class="row align-items-center">
                            <div class="col-auto profile-image">
                                <a href="#">
                                    <img class="rounded-circle" alt="{{ inscription.nom }} {{ inscription.prenoms }}" src="{{ absolute_url(asset('uploads/candidats/identite/'~ inscription.fileIdentite)) }}">
                                </a>
                            </div>
                            <div class="col ml-md-n2 profile-user-info">
                                <h4 class="user-name mb-0">{{ inscription.nom }} {{ inscription.prenoms }}</h4>
                                <h6 class="text-muted">{{inscription.user.email}}</h6>
                                <div class="user-Location">{{ inscription.filiere.institut.sigle}} - {{ inscription.filiere.libelle }}</div>
                            </div>
                            <div class="col-auto profile-btn">
                                {% if inscription.valid %}
                                    <button class="btn btn-outline-secondary">Demande approuvée</button>
                                {% else %}
                                    <form action="{{ path('backend_inscription_edit', {'reference': inscription.reference}) }}">
                                        <input type="hidden" name="inscription_validation" value="{{ inscription.reference }}">
                                        <button type="submit" class="btn btn-primary">Valider</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="profile-menu">
                        <ul class="nav nav-tabs nav-tabs-solid">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#per_details_tab">Informations personnelles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#password_tab">Informations scolaires</a>
                            </li>
                            {% if inscription.valid is null %}
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#rejet_tab">Rejet de la demande</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="tab-content profile-tab-cont">

                        <div class="tab-pane fade show active" id="per_details_tab">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title d-flex justify-content-between mb-5">
                                                <span>Informations personnelles</span>
                                                <a class="edit-link" data-toggle="modal" href="#edit_personal_details"><i class="fa fa-edit mr-1"></i>Edit</a>
                                            </h5>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Nom & prenoms</p>
                                                <p class="col-sm-10">{{  inscription.nom|upper }} {{ inscription.prenoms|title }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Date de naissance</p>
                                                <p class="col-sm-10">{{ inscription.dateNaissance }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Lieu de naissance</p>
                                                <p class="col-sm-10">{{ inscription.lieuNaissance }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Telephone</p>
                                                <p class="col-sm-10">{{  inscription.contact }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">En cas d'urgence</p>
                                                <p class="col-sm-10">{{  inscription.correspondant }}</p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Email</p>
                                                <p class="col-sm-10">{{  inscription.user ? inscription.user.email : '-' }}</p>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Edit Details Modal -->
                                    <div class="modal fade" id="edit_personal_details" aria-hidden="true" role="dialog">
                                        <div class="modal-dialog modal-dialog-centered" role="document" >
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Personal Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="row form-row">
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <input type="text" class="form-control" value="John">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <input type="text"  class="form-control" value="Doe">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>Date of Birth</label>
                                                                    <div class="cal-icon">
                                                                        <input type="text" class="form-control" value="24-07-1983">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Email ID</label>
                                                                    <input type="email" class="form-control" value="johndoe@example.com">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Mobile</label>
                                                                    <input type="text" value="+1 202-555-0125" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <h5 class="form-title"><span>Address</span></h5>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label>Address</label>
                                                                    <input type="text" class="form-control" value="4663 Agriculture Lane">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>City</label>
                                                                    <input type="text" class="form-control" value="Miami">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>State</label>
                                                                    <input type="text" class="form-control" value="Florida">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Zip Code</label>
                                                                    <input type="text" class="form-control" value="22434">
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6">
                                                                <div class="form-group">
                                                                    <label>Country</label>
                                                                    <input type="text" class="form-control" value="United States">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Edit Details Modal -->

                                </div>


                            </div>
                            <!-- /Personal Details -->

                        </div>

                        <div id="password_tab" class="tab-pane fade">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-5">Informations scolaires</h5>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Niveau d'étude</p>
                                                <p class="col-sm-10">{{  inscription.niveauEtude }} </p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Dernier diplôme</p>
                                                <p class="col-sm-10">{{  inscription.dernierDiplome }} </p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Filière souhaitée</p>
                                                <p class="col-sm-10">{{ inscription.filiere.institut.sigle }} {{  inscription.filiere.libelle }} </p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Copie du baccalaureat</p>
                                                <p class="col-sm-10"><a href="{{ absolute_url(asset('uploads/inscription/diplome/baccalaureat/'~ inscription.baccalaureat)) }}" class="" target="_blank">Télécharger</a></p>
                                            </div>
                                            <div class="row">
                                                <p class="col-sm-2 text-muted text-sm-right mb-0 mb-sm-3">Copie du dernier diplôme</p>
                                                <p class="col-sm-10"><a href="{{ absolute_url(asset('uploads/inscription/diplome/dernier/'~ inscription.fileDiplome)) }}" class="" target="_blank">Télécharger</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="rejet_tab" class="tab-pane fade">

                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-5">Motif du rejet de la demande</h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form action="{{ path('backend_inscription_edit', {'reference': inscription.reference}) }}">
                                                <div class="form-group">
                                                    <label for="">Observation</label>
                                                    <textarea name="inscription_message" id="" cols="30" rows="10" class="form-control"></textarea>
                                                </div>
                                                <div class="text-right">
                                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('backoffice/plugins/datatables/datatables.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('backoffice/plugins/datatables/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('backoffice/plugins/datatables/datatables.min.js')) }}"></script>
{% endblock %}
