{% extends 'inscription_layout.html.twig' %}

{% block title %}{{  parent() }} {{etudiant.nom }} {{ etudiant.prenoms }}{% endblock %}

{% block body %}

    <div class="breadcrumb-bar">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8 col-8 offset-2">
                    <h2 class="breadcrumb-title text-center">Identification </h2>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- Profile Sidebar -->
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                    <div class="profile-sidebar">
                        <div class="widget-profile pro-widget-content">
                            <div class="profile-info-widget">
                                <a href="#" class="booking-doc-img">
                                    <img src="{{ absolute_url(asset('uploads/etudiants/identite/'~ etudiant.photo)) }}" alt="User Image">
                                </a>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <div class="profile-det-info">
                                        <h3>{{ app.user.username }}</h3>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="dashboard-widget">
                            <nav class="dashboard-menu">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-columns"></i>
                                            <span>Tableau de bord</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ absolute_url(path('app_login')) }}">
                                            <i class="fas fa-school"></i>
                                            <span>Scolarité</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ absolute_url(path('app_login')) }}">
                                            <i class="fas fa-lock"></i>
                                            <span>Modifier le mot de passe</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ absolute_url(path('app_logout')) }}">
                                            <i class="fas fa-sign-out-alt"></i>
                                            <span>Déconnexion</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

                <div class="col-md-7 col-lg-8 col-xl-9">
                    {% for message in app.flashes('error') %}
                        <div class="col-12">
                            <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="mdi mdi-close-circle font-32"></i><strong class="pr-1">Erreur !</strong>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row form-row">
                                <div class="col-12 col-md-3">
                                    <div class="form-group">
                                        <label>Ancien matricule</label>
                                        <input type="text" class="form-control" value="{{ etudiant.ancienMatricule }}" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label>Nom <span class="text-danger"></span></label>
                                        <input type="text" class="form-control" value="{{ etudiant.nom }}"readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-5">
                                    <div class="form-group">
                                        <label>Prenoms </label>
                                        <input type="text" class="form-control" value="{{ etudiant.prenoms }}"readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Date de naissance <span class="text-danger">*</span></label>
                                        <div class="cal-icon">
                                            <input type="text" class="form-control" value="{{ etudiant.dateNaiss }}"readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Lieu de naissance </label>
                                        <input type="text" class="form-control" value="{{ etudiant.lieuNaiss }}" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Contact <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" value="{{ etudiant.contact }}" readonly>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-group">
                                        <label>Contact parent </label>
                                        <input type="text" class="form-control" value="{{ etudiant.correspondant }}" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-5">
                                <a href="" class="btn btn-outline-secondary">Modifier</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
